<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<title>凯盛软件</title>
	<style type="text/css">
		body{
			background:url(/static/img/bg.png);
		}
	  .form-signin {
        max-width: 140px;
        padding: 10px;
        margin: 160px auto 20px;
     	text-align: center;
      }
	</style>
</head>
<body>
	<div class="container">

      <div class="form-signin">
      				<a href="/download/{{filename}}">
     			 <img data-src="img/box.png" style="width: 128px; height: 128px;" 
                  src="/static/img/box.png">
                  </a>
                  <h4 style="color:#fff;text-align:center;">{{filename}}</h4>
   
      </div>

    </div>
</body>
</html>